/Users/cassiobolba/Documents/GitHub/Data-Engineering/Terraform/first-tf-deployment/.terraform
/Users/cassiobolba/Documents/GitHub/Data-Engineering/Terraform/first-tf-deployment/.terraform.lock.hcl
/Users/cassiobolba/Documents/GitHub/Data-Engineering/Terraform/first-tf-deployment/terraform.tfstate.backup